html { 
	background-color: #35499c;
	background-image: url "http://img.photobucket.com/albums/v139/tOrNsPaDe/sunbg3.jpg";
 	}
 	
body {
	font-family: Impact; 
	}
	
	p {
	font-family: Ariel;
	}
	
	a {
	text-decoration: none;
	color: yellow;
	font-family: sans-serif;
	}
