html,body {
	height:100%;
}
html {
	background-image:url('https://s-media-cache-ak0.pinimg.com/originals/3e/b2/a5/3eb2a57cdfcdf1009501e3968a31fe9c.jpg');
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;

}
body {
	margin:auto;

}
.logo {
	position:absolute;
	top:10px;
	left:28%;
	position:fixed;
	clear:both;
	z-index:99;
}
h1 {
	font-family: 'Museo', serif;
	font-size:;
	position:absolute;
	left:10%;
	padding-top:20px;
	text-align: justify;
}
p {
	font-family: 'Fira Sans', sans-serif;
	font-size:;
	left:10%;
	padding-top:20px;
	text-align: justify;
}
.nav {
	float:right;
	position:fixed;
	width:auto;
	text-align: center;
	padding:20px 20px;
	margin:;
	background-color:;
	top:30%;
	left:0;
	right:0;
	clear:both;
	z-index:1;
}
a { 
	margin:20px;
	text-decoration: none;
	padding:5px 5px;
	background-color:;
	opacity: 1.0;
    filter: alpha(opacity=100);
    color:black;
    transition-property: background;
	transition-duration: 2s;

}
a:hover{
	color: white;
	font-size:;
	opacity: 0.5;
   filter: alpha(opacity=50);
   color:black;
   background-color:white;
} 
section {
	max-width: 100%;
	position:absolute;


}
p {
	max-width: 100%;


}
#night-elf {
	background-image:url('https://i.ytimg.com/vi/LYhknuaKiTo/maxresdefault.jpg');
	background-attachment:fixed;
	background-size: cover;
	color: #ffffff;
	padding:;
	margin-top:900px;
	width:100%;
	height:100%;
	

}
#night-elf p{
	max-width: 500px;
	margin:10px;
	margin-top:50px;
}

.elf {
	margin-top:150px;
	top:80px;
	float:right;
	right:30px;
	animation-delay: 1s;
	animation-duration: 2s;
}
.aboutelf {
	margin-top:150px;
	width:900px;
}
#undead {
	background-image:url('http://media-azeroth.cursecdn.com/attachments/22/568/634951365092349893.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
	color: #ffffff;
	padding-top:10px;
	margin-top:1680px;
	margin-left: 0;
	width:100%;
	height:100%;

}
#undead p{
	max-width: 500px;
	margin: 20px;
}

.unded {
	margin-top:150px;
	top:80px;
	float:right;
	right:30px;
	animation-delay: 3s;
	animation-duration: 2s;
}
.aboutunded {
	position:absolute;
	margin:10px;
	width:900px;
	margin-top:150px;
}
.alliance {
	position:fixed;
	float:left;
	bottom:50px;
	left:420px;
	transition-duration: 20s;
	transition-delay: 7s;

}
.horde {
	position:fixed;
	float:right;
	bottom:20px;
	right:420px;
	transition-duration: 20s;
	transition-delay: 7s;
}


